$blood-red: #9e1f1f;

body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  background: black;
  color: white;

  &.error {
    .connection-message {
      display: block;
    }
    .controls {
      display: none;
    }
  }
}

h1 {
  margin: 20px auto;
  text-align: center;
  padding-bottom: 50px;
}

.connection-message {
  display: none;
  color: $blood-red;
  padding: 10px;
}


.controls {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  &.error {
    display: none;
  }

  .control {
    flex: 1;
    flex-basis: 300px;
    padding: 20px;
    display: flex;

    label {
      flex: 1;
    }

    .cv {
      flex: 2;
    }

    .noUi-connect {
      background: $blood-red;
    }

  }
}